/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*=================== HEADER ==========================*/
.header {
    background-color: #515d7c;     
}

#header1 {
    color: #afb39d !important
}

/*=================== MENU ==========================*/
#menu a, button{
    font-size: 18px !important;
    font-weight: 600;   
}

#menu a{
    color:#3f3f3f;    
}

/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:50rem !important;
    /*height: 400px !important;*/
}
